.plyr{
	width: 100%;
	/*height: 100%;*/
}
.plyr__controls .plyr__volume{
	display:none !important;
}
body{
	background-color: black !important;
	margin: auto;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
/*responsive layout*/
@media all and (min-width: 1300px) {

}
@media all and (max-width: 959px) and (min-width: 600px) {

}
@media all and (max-width: 599px) and (min-width: 50px) {

}

#navBar-container h2{
	font-size:20px;
	line-height:140%;
	margin: auto;
	color:white;
	/*color: black;*/
	/*font-family: 'Droid Sans', sans-serif;*/
	font-family:fantasy;
	font-weight: 200;
	/*text-decoration: uppercase;*/
	text-transform: uppercase;
	/*margin: 0px 0px 0px 0px;*/
	padding: 0px 5px 0px 5px;
	letter-spacing:2px;
}

button:link,button:active,button:visited,button,.button span{
	background-color: unset;
	border: none;
}
.button{
	background-color: unset;
	border: none;
	height: 100%;
}

.bma-navBar {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin: auto;
	text-align: left;
	min-width: 100%;
	height: 85px;
	position: fixed;
	top: 0px;
	z-index: 1;
	margin-bottom:0;
}
#navBar-container {
	display: flex;
	align-items: end;
	margin: 0px 50px 0px 50px;
}
#navBar-container.left {
	justify-content: flex-start;
}
#navBar-container.right {
	justify-content: flex-end;
}
.bma-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100% !important;
	height: 100vh;
	margin: auto!important;;
	padding: 0!important;;
}
.intro1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25vw;
	text-align: justify;
	padding: 20px 20px 20px 20px;
	margin-top: 65px;
}
.button1 {
	flex-basis: content;
	padding: 7px 7px 7px 7px;
	margin: 20px 20px 20px 20px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 100;
	font-size: 14px;
	letter-spacing:2px;
	color: black;
	border-bottom: 2px solid grey;
	border-left: 2px solid grey;
	border-top: 1px solid grey;
	border-right: 1px solid grey;
}
.button1:hover {
	color: red;
}
.intro2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75vw;
	text-align: justify;
	padding: 20px 20px 20px 20px;
	margin-top: 65px;
	border-left: 1px solid grey;
}
